[Unit]
Description=ATM Monitoring Application
After=network.target

[Service]
# User=system_user
WorkingDirectory=~/ATM-handler
ExecStart=/bin/bash -c 'source ~/ATM-handler/my_atm_env/bin/activate && /bin/bash ~/ATM-handler/docker-deploy.sh'
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=atm_monitor

[Install]
WantedBy=multi-user.target
